.line-stations {
  display: flex;
    flex-direction: column;
    padding-left: 0;
}
.LinesList {
    padding-bottom: 35vh;
}
.goback {
    text-decoration: none;
    color: black;
    border: 1.5px solid black;
}
.goback:hover {
    color: black;
}

.line-stations li {
    padding: 7px 0 7px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    list-style: none;

}
.line-stations li:hover {
    background: #B8B8B8;
    -webkit-box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.58);
    box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.58);
}

.form {
    border: 2px solid #DAB1ED;
    border-radius: 24px;
    width: 40%;
    padding: 0 5px 30px 20px;
    margin-left: 40%;
}
 .input {
     border-radius: 7px;
     border: 2px solid #DAB1ED;
     padding: 10px 10px;
     margin-top: 10px;
     margin-left: 10px;
     background: none;
     color: #DAB1ED;
 }

.input:hover {
    border: 2px solid cornflowerblue;
}

.submit-button {
    padding: 8px 12px 8px 9px;
    margin-left: 66%;
    margin-top: 15px;
    background: #DD96FF;
    font-size: 18px;
    border: 1px solid #825696;
    border-radius: 7px;
    font-weight: 500;
}
 .submit-button:hover{
     background: #C482E4;
 }

.TransportType {
     font-weight: 400;
    color: white;
 }

.ticket-validation-card {
    margin: 10px 0 10px;
    width: 95%;
}

.ticket-validation-counter {
    width: 30px;
    height: 30px;
    padding: 3px 5px 6px;
    border-radius: 50%;
    background: #727272;
    color: whitesmoke;
    cursor: pointer;
    text-align: center;
    float: right;
    margin-top: 6px;
}

.ticket-validation-line {
    width: 30px;
    height: 30px;
    padding: 3px 5px 6px;
    border-radius: 10%;
    text-align: center;
    display: inline-block;
    font-weight: 500;
    color: #ffffff;
    margin-top: 6px;
    margin-right: 10px;
    float: left;
}
.card-body{
    padding: 5px 0 5px;
}

.ticket-validation-station-name {
    font-size: 12px;
}

.ticket-validation-time{
    font-size: 12px;
    margin-left: 41px;
    margin-bottom: 0;
    color: #555759;

}

.ticket-validation-container{
    padding-bottom: 85vh;
}

.line-stations-button {
    width: 1.64706em;
    height: 1.52941em;
    font-size: 1.41667em;
    text-align: center;
    border-radius: 3px;
    border: none;
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
}
.line-stations-button:focus {
    -webkit-box-shadow: -1px 3px 18px 7px rgba(0,0,0,0.23);
    box-shadow: -1px 3px 18px 7px rgba(0,0,0,0.23);
}

.validation-person {
    border: 1px solid darkGrey;
    border-radius: 2px;
}

.validation-person:hover{
    border: 2px solid ;
    border-radius: 2px;
    -webkit-box-shadow: -1px 3px 18px 7px rgba(0,0,0,0.23);
    box-shadow: -1px 3px 18px 7px rgba(0,0,0,0.23);
}
.validation-person-clicked {
    border-radius: 2px;
    -webkit-box-shadow: -1px 3px 18px 7px rgba(0,0,0,0.23);
    box-shadow: -1px 3px 18px 7px rgba(0,0,0,0.23);
}

@media (min-width: 760px){
    .ticket-validation-station-name {
        font-size: 16px;
        margin-top: 3px;
        display: inline-block;
    }

    .ticket-validation-time{
        font-size: 14px;
    }
    .ticket-validation-line {
        margin-top: 9px;
    }
}

@media (min-width: 990px){
    .ticket-validation-card {
        width: 550px;
    }
    .ticket-validation-container {
    margin: 0 15%;
    }

    .LinesList{
        margin: 0 15%;
    }

}

@media (min-width: 1100px){
    .ticket-validation-container {
        margin: 0 20%;
    }
}

/*@media (min-width: 820px){*/
/*    .ticket-validation-card {*/
/*        width: 60%*/
/*    }*/
/*}*/